@mixin field {
  background-clip: padding-box;
  display: block;
  flex: 1;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  line-height: 1.5;
}
@mixin field-label{
  display: inline-block;
  flex: 0.2;
  line-height: 1.5;
  margin-bottom: 0;
  min-height: 1px;
  margin-left: 1.5rem;
  padding: 0.5rem;
  position: relative;
}

@mixin field-input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  color: #495057;
  display: block;
  flex: 1;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  margin-left: -1.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
