.action-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

.action-btn {
  &--primary {
    @extend .action-btn;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: darken(#007bff, 10);
    }
    &:disabled {
      background-color: lighten(#007bff, 20);
      border-color: #f5f5f5;
      cursor: not-allowed;
    }
  }
  &--secondary {
    @extend .action-btn;
    color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
      background-color: darken(#f8f9fa, 10);
    }
  }
}
